/.metadata/
web/webportal/.classpath
web/webportal/.factorypath
api/orchestration-client-connector/LOG_PATH_IS_UNDEFINED
api/orchestration-client-connector/target/
api/process-accelerator-context/target/
api/orchestration-processor-core/target/
api/process-accelerator-services/target/
api/orchestration-client-connector/.settings/
api/orchestration-processor-core/.settings/
api/process-accelerator-context/.settings/
api/process-accelerator-services/.settings/
web/webportal/target/
