/.metadata/
web/webportal/.classpath
web/webportal/.factorypath
api/orchestration-client-connector/LOG_PATH_IS_UNDEFINED
api/orchestration-client-connector/target/
api/process-accelerator-context/target/
api/orchestration-processor-core/target/
api/process-accelerator-services/target/
api/orchestration-client-connector/.settings/
api/orchestration-processor-core/.settings/
api/process-accelerator-context/.settings/
api/process-accelerator-services/.settings/
web/webportal/.settings/
web/webportal/target/
api/orchestration-client-connector/.classpath
api/orchestration-client-connector/.factorypath
api/orchestration-client-connector/.project
api/orchestration-processor-core/.classpath
api/orchestration-processor-core/.factorypath
api/orchestration-processor-core/.project
api/process-accelerator-context/.classpath
api/process-accelerator-context/.project
api/process-accelerator-services/.classpath
api/process-accelerator-services/.factorypath
api/process-accelerator-services/.project
