<?xml version="1.0"?>
<configuration>
	
  <appender name="SERVICE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>${LOG_PATH}/webportal.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>>orchestration-client-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <totalSizeCap>100MB</totalSizeCap>
      <maxFileSize>25MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
    </encoder>
  </appender> 
  
  <logger name=" com.aot.codelabs.portal" additivity="false" level="debug">
    <appender-ref ref="SERVICE-LOG" />
</logger>

  <root level="debug">
    <appender-ref ref="SERVICE-LOG" />     
  </root>

</configuration>